<!-- Remove the container if you want to extend the Footer to full width. -->

<!-- Footer -->
<footer class="text-center text-white" style="background-color: #676767">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Links -->
    <section class="mt-5">
      <!-- Grid row-->
      <div class="row text-center d-flex justify-content-center pt-4">
        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/aboutus" class="text-white">About us</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/menu" class="text-white">Menu</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/cart" class="text-white">Cart</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a href="https://CodeFactory.live" class="text-white">CodeFactory</a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact" class="text-white">Contact</a>
          </h6>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-2" />



    <!-- Section: Social -->
    <section class="text-center mb-2">
      <a href="" class="text-white me-4">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="#">h0a</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<!-- End of .container -->