<!-- Background image -->
<header>
  <div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('assets/heroo.jpg');">
    <div class="mask rounded-3" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Exclusive Cousine</h1>
          <h5 class="mb-4">Feel the taste of Italy</h5>
          <a class="btn btn-outline-light btn-lg m-2" routerLink="/menu" role="button" rel="nofollow">Menu</a>
          <a class="btn btn-outline-light btn-lg m-2" routerLink="form" role="button">Book a Table</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>