@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

#intro-example {
  height: 52vh;
  background-repeat: repeat;

  .mask {
    padding: 20px;
    transition: 0.2s;

    &:hover {
      opacity: 90%;

      .btn {
        color: green;
        transition: 0.2s;

        &:hover {
          opacity: 90%;
        }
      }
    }
  }
}

h1 {
  font-family: 'Parisienne', cursive;
  font-weight: 400;
  font-size: 50px;
}

h5 {
  font-family: 'Marck Script';
}