<!-- About-->
<hr>
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Responsive Food</h2>
      <h5 class="section-subheading text-muted pb-5">We use the best Quality</h5>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/1.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2009-2011</h4>
            <h4 class="subheading">Our First Food Truck</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Our first food truck is a dream come true. With passion and flavor, we serve
              delectable dishes on wheels. From gourmet burgers to mouthwatering tacos, we bring our culinary creations
              to the streets. Join us for a unique dining experience, where great food meets the excitement of the open
              road.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/2.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>March 2011</h4>
            <h4 class="subheading">Our First Restaurant</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Our first restaurant is a culmination of our passion for food and hospitality. With a
              warm and inviting ambiance, we offer a diverse menu featuring delectable dishes crafted with the finest
              ingredients. From our attentive service to the memorable flavors, we strive to create an exceptional
              dining experience that will keep you coming back for more.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/3.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>December 2015</h4>
            <h4 class="subheading">Our Franchise Beginns</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">We are thrilled to announce our first franchise partner, a valuable addition to our
              growing family. With their passion and dedication, we are confident that together we will achieve great
              success. We look forward to building a strong and prosperous partnership, delivering exceptional products
              and services to our customers. Exciting times lie ahead!</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="/assets/4.jpg" alt="..." />
        </div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>July 2020</h4>
            <h4 class="subheading">500 Restaurants Worldwide</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">With an expansive network of 500 restaurants worldwide, we offer a diverse culinary
              experience that spans continents. From fine dining establishments to casual eateries, our global presence
              ensures you can indulge in delicious cuisine wherever you go. Explore a world of flavors, ambiance, and
              impeccable service at our restaurants around the globe.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Story!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>