<!-- Table Reservation Form -->
<section id="book-a-table" class="book-a-table">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <h2 class="text-primary">Book A Table</h2>
        <p class="mb-5">Booking a table allows you to secure a spot at your preferred restaurant or establishment,
          ensuring a smooth and hassle-free dining experience. By reserving in advance, you can avoid waiting times and
          potential disappointments due to a fully occupied venue..</p>
      </div>
    </div>

    <form (ngSubmit)="booked()" role="form">
      <div class="form-row">
        <div class="col-lg-4 col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <input type="number" class="form-control" name="phone" id="phone" placeholder="Your Phone">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <input type="date" name="date" class="form-control" id="date" placeholder="Date">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <input type="time" class="form-control" name="time" id="time" placeholder="Time">
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <input type="number" class="form-control" name="people" id="people" placeholder="No. of people">
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" placeholder="Message"></textarea>
      </div>
      <button type="button" class="btn btn-info btn-block btn-md my-2" type="button" (click)="booked();">Book a
        Table</button>
    </form>
  </div>
</section>
<!-- End Table Reservation Form -->