.card {
  border-width: 3px;
  transition: 2s;

}

.btn-danger {
  background-color: red;
  // opacity: 50%;
  /* Add any other styles you want for the 'btn-danger' class */
}

.btn-success {
  background-color: green;
  // opacity: 50%;
  /* Add any other styles you want for the 'btn-success' class */
}